{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'cart_and_orders/finalize_order.css' %}" rel="stylesheet">
<h1>Finalize Order</h1>

<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td><img src="{{ item.product.main_image.url }}" alt="{{ item.product.name }}"></td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price }} zł</td>
            <td>{{ item.total }} zł</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p class="total-price">Total Price: {{ total_price }} zł</p>

<form method="post" action="{% url 'place_order' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="order-button" value="Place a order">
</form>


{% endblock %}