{% extends "base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'registration/login.css' %}" rel="stylesheet">
{% if form.errors %}
<p>
    Twój login i hasło nie pasują. Spróbuj ponownie.</p>
</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>
    Twoje konto nie ma dostępu do tej strony. Aby kontynuować,
    zaloguj się na konto z dostępem.</p>
</p>
{% else %}
<p>Zaloguj się żeby zobaczyć tą stronę</p>
{% endif %}
{% endif %}
<div class="center-div">
    <div>
        <form method="post" action="{% url 'login' %}" class="login-form">
            {% csrf_token %}

            <table class="login-table">
                <tr>
                    <td>Nazwa użytkownika:</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>Hasło:</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input type="submit" value="Zaloguj" class="login-button">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <div>
            <p><a href="{% url 'password_reset' %}">Zapomniałes hasła?</a></p>
        </div>
    </div>


</div>
{% endblock %}