{% extends "base.html" %}

{% load static %}

{% block content %}
<link href="{% static 'registration/password_reset_form.css' %}" rel="stylesheet">
<div class="center-div">
    <form class="password-reset-form" action="" method="post">
        {% csrf_token %}
        <h2>Reset password</h2>
        <p>
            Please enter your email address. You will receive a link to create a new password via email.
        </p>
        <table class="form-table">
            {% if form.email.errors %}
            <tr>
                <td colspan="2" class="error">{{ form.email.errors }}</td>
            </tr>
            {% endif %}
            <tr>
                <td><label for="{{ form.email.id_for_label }}">Email:</label></td>
                <td>{{ form.email }}</td>
            </tr>
        </table>
        <input type="submit" class="btn btn-default btn-lg" value="Send email">
    </form>
</div>
{% endblock %}