{% extends "base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'products/detail.css' %}" rel="stylesheet">
<div class="product-detail">
    <div class="product-image-wrapper">
        <img src="{{ product.main_image.url }}" alt="{{ product.name }}" class="product-image">
    </div>
    <div class="product-info">
        <h1>{{ product.name }}</h1>
        <div class="product-rating">
            {% for star in "12345" %}
            {% if forloop.counter <= product.review_score %} <span class="star">&#9733;</span>
                <!-- filled star -->
                {% else %}
                <span class="star">&#9734;</span> <!-- empty star -->
                {% endif %}
                {% endfor %}
        </div>
        <p class="product-price">{{ product.price }} zł</p>
        <div>
            <a class="add-to-cart" href="{% url 'add_to_cart' product.id %}">Add to cart</a>
        </div>

        <a href="{% url 'add_to_favorites' product.id %}" class="favorite button">Add to wish list</a>
    </div>
</div>
<div class="product-description">
    <h2>Description</h2>
    <p>{{ product.description }}</p>
    <p>Views: {{ product.view_count }}</p>
</div>

{% endblock %}