.favorites-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.favorite-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.favorite-image {
    width: 12.5%;
    height: auto;
    margin-right: 20px;
}

.favorite-title {
    flex-grow: 1;
    margin-right: 20px;
}

.favorite-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid transparent;
}

.favorite-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #000000;
}

.add-to-cart {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid transparent;
}

.add-to-cart:hover {
    background-color: white;
    color: black;
    border: 2px solid #007BFF;
}

.wish-label {
    margin-left: 20px;
}