.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-update-form {
    width: 300px;
    margin: 0 auto;
}

.profile-update-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-update-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #359b74;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.profile-update-form input[type="submit"]:hover {
    background-color: #02461d;
}