{% load static %}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="shortcut icon"
          type="image/jpg"
          href="{% static 'favicon.jpg' %}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Online shoping platform">
        <meta name="keywords" content="shop,products,learning">
        <title>Document</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <div class="navbar">
                <a href="{% url 'index' %}">Product List</a>
                <p>Logged as: {{ user.username }}</p>
                <a class="signin" href="{% url 'logout' %}">Logout</a>
                <a class="signin" href="{% url 'profile_detail' %}">Profile</a>
                <a class="signin" href="{% url 'cart' %}">Cart</a>
                <a class="signin" href="{% url 'favorites' %}">Wish List</a>
            </div>
        {% else %}
            <div class="navbar">
                <a href="{% url 'index' %}">Product List</a>
                <a class="signin" href="{% url 'register' %}">Register</a>
                <a class="signin" href="{% url 'login' %}">Login</a>
            </div>
        {% endif %}
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
