{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'style.css' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if user.is_authenticated %}
    <div class="navbar">
        <a href="{% url 'index'%}">Lista Produktów</a>


        <a class="signin" href="/accounts/logout/">Wyloguj się</a>
        <a class="signin" href="/accounts/profile/">Profil</a>
        <a class="signin" href="{% url 'index'%}">Koszyk</a>
        <a class="signin" href="{% url 'favorites'%}">Ulubione</a>


    </div>
    {% else %}
    <div class="navbar">
        <a href="{% url 'index'%}">Lista Produktów</a>
        <a class="signin" href="/accounts/login/">Zaloguj się</a>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>

</html>